# Environment Variables
.env
**/.env
api-gateway/.env
frontend/.env
services/auth-service/.env


# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build Outputs
build/
dist/

# Keep example env files in source control
!.env.example